<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.trashtrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomepageActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".ForgotPasswordAskPasswordActivity" />
        <activity android:name=".AnswerSecurityQuestionActivity" />
        <activity android:name=".ForgotPasswordResultActivity" />
        <activity android:name=".MetricsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".InviteFriendsActivity" />
        <activity android:name=".ProfileViewActivity" />
        <activity android:name=".QuestionHomeActivity" />
        <activity android:name=".ProfileShareActivity" />
        <activity android:name=".TriviaQuestionPromptActivity" />
        <activity android:name=".TriviaResultsActivity" />
        <activity android:name=".TriviaInitiateActivity" />
        <activity android:name=".TriviaCorrectAnswerActivity" />
        <activity android:name=".TriviaIncorrectAnswerActivity" />
        <activity android:name=".AddQuestionActivity" />
        <activity android:name=".ModifyQuestion" />
        <activity android:name=".DeleteQuestion"></activity>
    </application>

</manifest>